@import "themes";
.about {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    left:calc(100% - 25px);
    top: 0%;
    width: 50%;
    height: 100%;
    background-color: $color_paper;
    z-index: 10;
    opacity: 1;
    transition-property: left, width;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    
    p {
        margin: 1em 0em;
    }

    hr {
        border: 0 none;
        height: 1px;
        background-color: #eee;
        margin-bottom: 2em;
    }
    
     h3 {
        font-weight: 200;
        margin-bottom: -0.4em;
        margin-top: 6em;
    
    }
    
    .links{
        display: flex;
        justify-content:space-between;
        flex-wrap: wrap;
        font-size: 0.8em;
        margin-bottom: 3em;
    
    }
}

.aboutContainer {
    padding: 6em 5em;
    overflow: auto;
}


.slideInFromRight {
    left: 50%;
    opacity: 1;
}