.slideFromTop-enter {
    bottom:100%;
}
.slideFromTop-enter-active {
    bottom: 50%;
    transition: bottom 200ms ease-out;
}
.slideFromTop-enter-done {
    bottom: 50%;
}

.slideFromTop-exit {
    bottom:50%;
}

.slideFromTop-exit-active {
    bottom: 100%;
    transition: bottom 200ms ease-out;
}

.slideFromTop-exit-done {
    bottom: 100%;
}


/*  SLIDE IN FROM RIGHT */
.slideFromRight-appear-done {
    left:calc(100% - 25px) ;
    opacity: 1;
}

.slideFromRight-enter {
    left:calc(100% - 25px) ;
}

.slideFromRight-enter-active {
    left:50% !important;
    transition: left 200ms ease-out 
}

.slideFromRight-enter-done {
    left:50% !important;
}

.slideFromRight-exit {
    left:50% !important;
}

.slideFromRight-exit-active {
    left:calc(100% - 25px) !important;
    transition: left 200ms ease-out 
}

.slideFromRight-enter-done {
    left:50% !important;
}