/*  SLIDE IN FROM BOTTOM */

.slideFromBottom-enter {
    top:100%;
    opacity: 0;
}

.slideFromBottom-enter-active {
    top:40% !important;
    opacity: 1;
    transition: all 200ms ease-out;
}

.slideFromBottom-enter-done {
    top:40% !important;
    opacity: 1;
}

.slideFromBottom-exit {
    top:40% !important;
    opacity: 1;
}

.slideFromBottom-exit-active {
    top:100%  !important;
    opacity: 0;
    transition: all 200ms;
}
.slideFromBottom-exit-done {
    top:100%;
    opacity: 0;
    
}