@media (max-width: 600px) {
    .root {
        display: block;
        flex-direction: column;
        overflow: hidden;;
        height: 100vh;
    }

    .mainContainer {
        // height: 50%;
        width: 100%;
    }

    .left {
        height: 100vh;
        padding: 3em;
    }   

    .right {
        flex-shrink: 1;
        // height:30%;
        // .circleContainer {
        //     flex-direction: row;
        //     .circle {
        //         width: 10em;
        //         height: 10em;
        //     }
        // }
    }

    .about {
        width: 100vw;
        .aboutContainer {
            overflow: auto;
            padding: 3em 2em;
        }
    }

    

    .projectIndex {
        width: 100vw;
    }
    
    .projectIndexSlideIn {
        top: 35%;
    }
    
    
    .projectTab {
        width: 100vw;

        h1 {
            font-size: 1.5em;
        }
        h2{
            font-size: 1.2em;
            font-weight: 600;
        }
        h3{
            font-size: 1.1em;

        }
        h4{
            font-weight: 600;
            margin-top: 0.5em;

        }
        h5{
            font-weight: 600;
            margin-bottom: -0.3em;
        }

        ul{
            padding-left: 1.5em;
        }
        img{
            margin-top: 1em;
            margin-bottom: -1em;
        }

        figure{
            margin: 0;
        }
        
        figcaption {
            margin-top: 1em;
        }
        
    }

    .projectContentContainer {
        padding: 3em 1em;
        padding-right: 3.5em;
    }

    .slideInFromRight {
        left: 5px;
    }

    .footer {
        width: 100vw;
    }

    .link {
        $self: &;
        &__line {
            &:after {
                animation: animation-line-looped 1.5s forwards;
                // animation-duration: 3s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
            }
        }

        &__arrow {
            span {
                &:after {
                animation: animation-arrow-looped;
                // animation-delay: 1s;
                animation-duration: 1.5s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                }
            }
        }
    
    }
    @keyframes animation-line-looped {
        0% {
          left: 140px;
        }

        70%{
            left: 0;
        }
      
        100% {
          left: -30px;
        }
      }

    @keyframes animation-arrow-looped {
        0% {
          width: 0;
        }
        
        70% {
            width: 0;
        }

        100% {
          width: 100%;
        }
      }
    
}