@import "themes";

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body {
    
    margin: 0;
    font-family: $font_default;
    font-size: 0.9em;
    height:100%;
    width:100%;
    
}

#root, #root>* {
    position: fixed;
    display: flex;
    justify-content: center;
    height: 100%;
    width:100%;
    background-color: antiquewhite;
    align-items: stretch;
}

a {
    color: black;
    text-decoration: underline;
    text-decoration-color: $color_accent;
    text-decoration-thickness: 0.2em;
}
a:hover {
    background-color: $color_accent;
}

.mainContainer {
    height: 100%;
    width: 50%;
    background-color: $color_paper;
    margin: 0;
}

/* LEFT MAIN */
.left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &>*  {
        margin-left: 4em;
        margin-right: 4em;
    }

    //BANNER --- contains logo and tagline
    .logo {
        // position: fixed;
        top: -2px;
        left:0;
        width: 50vw;
        margin: 0;
    
        svg{
            fill: black;
            width: 100%;

            &:hover {
                fill: $color_paper;
                background-color:  $color_registration
            }

            &:active {
                fill: $color_accent;
            }
        }
    
    
        h2 {
            margin-left:4em;
            font-size: 1em;
            font-weight: 200;
        }
    }


    //  HEADER --- intro, profile link and index link
    & header {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        // background-color: blue;
        height: 100%;
    }

    //  FULL PROFILE BUTTON
    #btn_profile {
        display: flex;
        height:2em;
        width: 8em;
        align-items: center;
        font-size: 0.7em;
        justify-content: start;
        border-radius: 1em;


        :first-child {
            padding: 0;
            margin-left: 0;
            text-align: center;
            vertical-align: center;
            margin-left: auto;
        }
        svg {
            flex-shrink: 0;
            margin:0;
            margin-left: -1.2em;
            margin-right: -1.2em;
            padding: 0;
            scale: 0.25;
            width: 40px;
            height:40px;
        }
        &:hover {
            // border-bottom: 0.3em solid $color_accent;
            box-shadow: 0 0 0 1px black;
            cursor: pointer;
            // font-weight: 600;
            stroke-width: 5;
        }
        
        &:active {
            background-color: $color_accent;
        }
    }
}


/* =======  RIGHT MAIN  ==========*/
.right {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;

    .background {
        position: absolute;
        background-image: url('../assets/profilePic00.JPG');
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: 0.2 * 100vh center;
        height: 110vh;
        width: 0.7*100vh;

    }
}



.circleContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    gap: 2em;
    // height: 100vh;
    // height: 100%;
    // overflow: hidden;
    background-color: black;
    height: 100%;
    width: 100%;
    mix-blend-mode: hard-light;
    z-index: 2;
}

.circle {
    background-color: gray;
    width: 18em;
    height: 18em;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}




/*=======   INDEX TAB   ============*/
.projectIndex {
    position: fixed;
    top: 100%;
    left: 0%;
    width: 50%;
    height:60%;
    background-color:$color_paper;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // box-shadow: 0 -4px 10px 2px rgba(0, 0, 0, 0.311);
    transition-property: top, opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    z-index: 4;
}

.slideUp {
    top:40%;
}

.projectFilter {
    padding: 1em 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0.75em;
    font-size: 0.8em;
}

.indexTableContainer {
    overflow: auto;
}

.projectIndexTable {
    margin: 0em 1em;
    border-collapse: collapse;
    font-size: 0.8em;
}


.projectIndexTable th {
    font-size: 0.7em;
    font-weight: 200;
    text-align: left;
    padding: 0.2em 0.5em;
}

.projectIndexTable td {
    padding: 0.5em 0.5em;
    overflow-wrap: break-word;
}

.projectIndexTable tr:hover {
    cursor: pointer;
    border-color: transparent; /* remove the border's colour */
    box-shadow: 0 0 0 0.5px rgb(211, 211, 211); /* emulate the border */
}
.projectIndexTable tr:active {
    background-color: $color_accent;
}

 .selected {
    background-color: $color_active;
}


/* ======   CIRCLE PREVIEWS     =======*/
.banner {
    position:fixed;
    color: $color_accent;
    text-align: center;
    font-family: "Monolisk Black", sans-serif;
    font-size: 10em;
    z-index: 4;
}


/* ======   PROJECT TAB     =======*/

.projectTab {
    background-color: $color_paper;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    left:100%;
    top: 0%;
    width: 50%;
    height: 100%;
    opacity: 0.5;
    z-index: 5;
    /* padding: 2em 4em; */
    transition-property: left, opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    
}

.leftEdge {
    /* height: 100%; */
    width: 25px;
    /* flex-grow: 1; */
    flex-shrink: 0;
    border-right: 0.5px dotted rgb(148, 148, 148);
    border-left: 1px dotted black;
    writing-mode:vertical-lr;
    text-align: center;
    font-weight: lighter;
    vertical-align: middle;
}

.leftEdge:hover {
    background-color: $color_accent;
    font-weight: 400;
    cursor: pointer;
}

.leftEdge:active {
    background-color: $color_active;
}

.about .leftEdge {
    background-color: $color_registration;
    color: $color_paper;
    border-color: $color_paper;

}

.topEdge {
    height: 10px;
    width: 100%;
    flex-shrink: 0;
    background-color: $color_registration;
    text-align: center;
    font-weight: lighter;
    vertical-align: middle;
}


.projectContentContainer {
    height: 100%;
    // padding: 2em 4em;
    
    overflow: auto;

    p,h1,h2,h3,h4,h5 {
    margin-left: 2rem;
    margin-right: 3rem;

    }

    & img {
        width: 100%;
        margin: 0;
    }

    ul{
        padding-left: 3rem;
    }
    
}

.closeProject {
    background-color: brown;
    width: 2em;
    height: 2em;
}

.closeProject:hover {
    background-color:azure;
}





.projectTab h3 {
    margin-top: 2em;
    margin-bottom: -0.5em;
}

.projectTab h5 {
    margin-top: 1em;
}



//======    Media/Graphics  ==============
figure {
    margin-right: 5em;
    width: 100%;
    margin: 0;
}

figure img {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width:100%;
    height:auto;
}

figcaption {
    font-family: 'Source Serif Pro', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 0.9em;
    margin-top: 0.1em;
    margin-bottom: 0.3em;
    margin-left: 2em;
}


.compositeFigure{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    & >div {
        display: flex;
        justify-content: flex-start;
        // align-items: flex-start;
        gap: 0.2em;
        width: 100%;
        // max-height: 30px;
        background-color: red;
        overflow: auto;
        margin: 0;
        padding: 0;

        .imageWrapper {
            // width: auto;
            // align-self: center;
            max-height: 20vh;
            margin: 0;
            
            img {
                height: 100%;
                width: auto;
            }
        }
    }

}

.projectVideoContainer {
    margin: 0.5em 0em;
    
}

.slideInFromRight {
    left: 50%;
    opacity: 1;
}

/*=========  CONTACT CARD ====================*/


.contact {
    position: fixed;
    background-color: $color_accent;
    width: 100%;
    height: 50%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    bottom: 100%;
    transition-property: bottom;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;

    .contactWrapper {
        width: 100%;
        padding: 0;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 5vh;
        & > div:nth-child(3) {
            display: flex;
            gap: 4em;
        }

        & h1 {
            margin-top: 0;
            margin-bottom: -0.3em;
            padding: 0;
            font-family: $font_special;
            text-transform: uppercase;
            font-size: 15em;
            // border-bottom: 1px solid black;
        }
    
        & h2 {
            margin-top: 5%;
            margin-bottom: 5%;
            font-size: 2em;
    
        }
    
        img {
            width: 3em;
            height: 3em;
            // background-color: black;
        }
    }
    

    
}

.bottomEdge {
    width: 100%;
    height: 25px;
    border-top: 0.5px dotted rgb(148, 148, 148);
    border-bottom: 1px dotted black;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.bottomEdge:hover {
    background-color: $color_paper;
}

.bottomEdge:active {
    background-color: $color_active;
}

.slideDown {
    bottom: 50%;
}

/*========= FOOTER  ====================*/
footer {
    font-size: 0.8em;
    font-weight: 100;
    background-color: $color_paper;
    color: $color_registration;
    position: fixed;
    bottom: 0px;
    left: 0;
    z-index: 0;
    width: 50%;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px dotted $color_registration;
}

@media (min-width: 1300px) {
    .contact {

        // background-color: red;
        .contactWrapper {
            width: 100%;
            padding: 0;
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 3em;
            & > div:nth-child(3) {
                display: flex;
                gap: 4em;
            }
    
            & h1 {
                margin-top: 0;
                margin-bottom: -0.3em;
                padding: 0;
                font-family: $font_special;
                text-transform: uppercase;
                font-size: 15em;
                // border-bottom: 1px solid black;
            }
        
            & h2 {
                margin-top: 1em;
                margin-bottom: 1em;
                font-size: 2em;
        
            }
        
            img {
                width: 3em;
                height: 3em;
                // background-color: black;
            }
        }
        
    
        
    }
}