@media (max-width: 600px) {
    .root {
        display: block;
        flex-direction: column;
        overflow: hidden;;
        height: 100vh;
    }

    .mainContainer {
        // height: 50%;
        width: 100%;
    }

    .left {
        height: 100vh;
        // padding: 3em;
        background-image: url('../assets/profilePic01.JPG');
        background-repeat: no-repeat;
        background-size: auto 60%;
        background-position: 100% 100%;
    }   

    .logo {
        width: calc(100vw - 26px);
    }

    .right {
        flex-shrink: 1;
        .background {
            background-image: none;
   
        }
    }
    .right {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: 100vh;
    
        overflow: hidden;
    
        .background {
            position: absolute;
            background-image: url('../assets/profilePic00.JPG');
            background-repeat: no-repeat;
            background-size: auto 100%;
            background-position: 0.2 * 100vh center;
            height: 110vh;
            width: 0.7*100vh;
    
        }
    }

    .about {
        width: 100vw;
        .aboutContainer {
            overflow: auto;
            padding: 3em 2em;
        }
    }

    

    .projectIndex {
        width: 100vw;
    }
    
    .projectIndexSlideIn {
        top: 35%;
    }
    
    
    .projectTab {
        width: 100vw;

        h1 {
            font-size: 1.5em;
        }
        h2{
            font-size: 1.2em;
            font-weight: 600;
        }
        h3{
            font-size: 1.1em;

        }
        h4{
            font-weight: 600;
            margin-top: 0.5em;

        }
        h5{
            font-weight: 600;
            margin-bottom: -0.3em;
        }

        ul{
            padding-left: 1.5em;
        }
        img{
            margin-top: 1em;
            margin-bottom: -1em;
        }

        figure{
            margin: 0;
        }
        
        figcaption {
            margin-top: 1em;
        }
        
    }

    .projectContentContainer {
        padding: 3em 1em;
        padding-right: 3.5em;
    }

    .slideInFromRight {
        left: 5px;
    }

    .footer {
        width: 100vw;
    }

    .link {
        $self: &;
        &__line {
            &:after {
                animation: animation-line-looped 1.5s forwards;
                // animation-duration: 3s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
            }
        }

        &__arrow {
            span {
                &:after {
                animation: animation-arrow-looped;
                // animation-delay: 1s;
                animation-duration: 1.5s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                }
            }
        }
    
    }
    @keyframes animation-line-looped {
        0% {
          left: 140px;
        }

        70%{
            left: 0;
        }
      
        100% {
          left: -30px;
        }
      }

    @keyframes animation-arrow-looped {
        0% {
          width: 0;
        }
        
        70% {
            width: 0;
        }

        100% {
          width: 100%;
        }
      }

      .contact {
        h1 {
            
        }

        h2{

        }

        & > div:nth-child(3) {
            gap: 5vw;
        }

        & img {
            height: 10vw;
            width: auto;
        }
      }
    
}

@media (max-height: 700px) {

    .left {
        // padding: 2em 3em;
    }

    .link{
        transform: rotate(-90deg);
        &__line{
            width: 60px;
        }
    }
    .circleContainer {
        // margin-left: -10em;
    }
    // .circle {
    //     width: 10em;
    // height: 10em;
    
    // }

    .contact {
        .contactWrapper {

            & h1 {
                font-size: 18vh;
            }
            h2 {
                font-size: 2.5vh;
                margin-top: 5vh;
                margin-bottom: 2vh;
            }
            & > div:nth-child(3) {
                gap: 3vh;
            }
    
            & img {
                height: 7vh;
                width: auto;
            }
        }
    }
}

@media (max-height: 500px) {
    .link {
        flex-wrap: wrap;
        transform: rotate(-90deg);
        // background-color: red;
        width: 120px;
        padding-left: 10px;
        // width: min-content;
        &>span:last-child{
            width: 50%;
            margin-top: 1em;
            margin-left: 1em;
        }   
    }

    .projectIndex {
        height:75vh;
    }

    .projectIndexTable {
    }

    .projectIndexSlideIn {
        top: 25%;
    }

    .circle {
        width: 10em;
    height: 10em;
    }
}