:root{
    --col_emphasis: rgb(255, 221, 0);
}


.projectFilter>div{
    // height: 5em;
    text-align: center;
    display: flex;
    align-items: center;
    width: min-content;
    // background-color: aqua;
}

.tgl {
  display: none;
//   background-color: aqua;

  + .tgl-btn {
    // display: inline-block;
    // width: 6em;
    content: attr(data-tg-on);
    height: 2em;
    position: relative;
    // position: absolute;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    backface-visibility: hidden;
    transition: all 0.2s ease;
    // white-space: nowrap;

    &:after,
    &:before {
        transition: all 0.2s ease;
        width: 100%;
        text-align: center;
        position: absolute;
        line-height: 2em;
        font-weight: 400;
        color: black;
    }
    &:after {
        left: 100%;
        content: attr(data-tg-on);
      }
  
      &:before {
        left: 0;
        content: attr(data-tg-off);
      }
  
      &:active {
        background: #888;
        &:before {
          left: -10%;
        }
      }

      
  }

  &:checked + .tgl-btn {
    background: var(--col_emphasis);
    border-radius: 1em;
    &:before {
      left: -100%;
      border-radius: 0;
    }

    &:after {
      left: 0;
    }

    &:active:after {
        background: #888;
      left: 10%;
    }
  }
}
